<%= turbo_frame_tag "like_#{dom_id(likeable)}" do %>
  <% like = detect_user_liked(likeable) %>
  <div class="like-size">
    <%= display_like_count(likeable) %>
  </div>
  <% if like.present? %>
    <%= link_to like_path(like), class: "btn btn-outline-none border-0", data: { turbo_method: :delete } do %>
      <i class="bi bi-hand-thumbs-up-fill text-info focus"></i>
    <% end %>
  <% else %>
    <%= button_to likes_path, params: { like: { likeable_id: likeable.id, likeable_type: likeable.class.to_s } }, class: "btn btn-outline-none border-0" do %>
      <i class="bi bi-hand-thumbs-up"></i>
    <% end %>
  <% end %>
<% end %>
