<%= turbo_frame_tag "like_#{dom_id(likeable)}" do %>
  <div class="like-size">
   <%= display_like_count(likeable)%>
  </div>
  <% if local_assigns[:like_button].present? %>
    <%= link_to like_path(local_assigns[:like_button]), class: "btn btn-outline-none border-0", data: { turbo_method: :delete } do %>
      <i class="bi bi-hand-thumbs-up-fill text-info focus"></i>
    <% end %>
  <% else %>
    <%= button_to likes_path, params: { like: { likeable_id: likeable.id, likeable_type: likeable.class.to_s } }, class: "btn btn-outline-none border-0" do %>
      <i class="bi bi-hand-thumbs-up"></i>
    <% end %>
  <% end %>
<% end %>
