<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <%= link_to user_signed_in? ? post_path(post) : new_user_session_path, class: 'text-decoration-none text-dark', data: { turbo_frame: '_top' } do %>
        <div class="card border-0 shadow-lg rounded-3 mb-4 post-background">
          <%= image_tag post.image, class: 'card-img-top rounded-3 post-image'%>
          <div class="card-body">
            <h2 class="card-title text-center mb-4"><%= post.title %></h2>        
            <p class="card-text text-center">By: <%= post.user.email.slice(0..post.user.email.index("@") - 1) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
