//for post card background
.post-background
{
	background-image:linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4); 
	overflow: hidden;
}

//for sub comment padding
.sub-comment
{
	padding-left: 20px;
}

//single post
.single-post-css
{
	width: 60%;
 	margin: 0 auto; 
  	border: 1px solid #ccc;
   	border-radius: 10px; 
  	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);	
}

.read-more-less-button
{
	font-style: italic; 
	color: brown;	
	font-size: 15px;

  	&:hover {
    	cursor: pointer;
  	}
}

.post-image
{
	height: 300px;
	width: auto;
}


.user-email
{
	font-size: 14px;
}

.comment-user-email
{
	font-size: 12px;
}

.comment-user-content
{
	margin-bottom: 0px;
}
.likes-size
{
	font-size: 15px;
}







